@import '../variables.scss';

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 991.98px) {
    .hamburger-menu {
        flex: 1;
        display: block;
    
        .hamburger-menu-btn {
            width: 24px;
            height: 24px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .hamburger-menu-content {
            position: fixed;
            top: 52px;
            left: 0;
            z-index: 99;
            background-color: #FFFFFF;
            width: 100vw;
            padding: 16px;
            box-shadow: #959da533 0 15px 16px;
    
            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
    
                .nav-item {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    text-align: center;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
    
                    .nav-item-text {
                        width: max-content;
                        position: relative;
                    }
    
                    .nav-item-icon {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                        width: 20px;
                        height: 20px;
                        content: "";
                        background-repeat: no-repeat;
                        background-size: 20px;
                    }
                }
    
                .nav-item--active {
                    .nav-item-text::before {
                        content: "";
                        position: absolute;
                        width: calc(100% + 16px);
                        height: 6px;
                        left: -8px;
                        bottom: -5px;
                        background: $primary-color;
                        opacity: .4;
                    }
                }
            }
        }
    }    
}
